<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Initial</servlet-name>
        <servlet-class>controllers.Initial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Downloader</servlet-name>
        <servlet-class>controllers.Downloader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Uploader</servlet-name>
        <servlet-class>controllers.Uploader</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>Remover</servlet-name>
        <servlet-class>controllers.Remover</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Initial</servlet-name>
        <url-pattern>/Initial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Downloader</servlet-name>
        <url-pattern>/Downloader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Uploader</servlet-name>
        <url-pattern>/Uploader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Remover</servlet-name>
        <url-pattern>/Remover</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Initial</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/ErrorPage404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/ErrorPage500.jsp</location>
    </error-page>
    
</web-app>
